<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nevilleantony.prototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- file permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--  usesCleartextTraffic: Needed for connecting to HTTP urls-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prototype"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewDownloadActivity"
            android:label="@string/title_activity_new_download"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.Prototype"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RoomActivity"
            android:label="@string/Room"
            android:parentActivityName=".activities.NewDownloadActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NewDownloadActivity" />
        </activity>

        <receiver
            android:name=".downloadmanager.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".downloadmanager.DownloadService"
            android:enabled="true" />
    </application>

</manifest>