<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nevilleantony.prototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--  usesCleartextTraffic: Needed for connecting to HTTP urls-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prototype"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewDownloadActivity"
            android:label="@string/title_activity_new_download"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.Prototype">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RoomActivity"
            android:label="@string/Room"
            android:parentActivityName=".activities.NewDownloadActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NewDownloadActivity" />
        </activity>
    </application>

</manifest>